# This is Git's per-user configuration file.
[user]
	name = Tim Roper
	email = tim.roper@ovoenergy.com.au
[user]
	name = Tim Roper
[alias]
	st = status
	l = log --graph --oneline --abbrev-commit --decorate --all
	ap = add -p
	co = commit
	prm = pull --rebase origin master
	pram = pull --rebase --autostash origin master
	can = commit --amend --no-edit
	cm = checkout master
	nb = checkout -b 
	ds = diff --staged
	d = diff
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	tool = nvimdiff
	algorithm = histogram
[difftool]
	prompt = 0
[difftool "nvimdiff"]	
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = vimdiff
[mergetool]
	prompt = 1
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
	autocrlf = input
	excludesfile = /Users/ropes/.gitignore_global
