# This is Git's per-user configuration file.
[user]
	name = Tim Roper
	email = tim.roper@ovoenergy.com.au
[user]
	name = Tim Roper
[alias]
	st = status
	l = log --graph --oneline --abbrev-commit --decorate --all
	ap = add -p
	c = checkout
	co = commit
	com = commit -m 
	prm = pull --rebase origin master
	prmm = pull --rebase origin main
	pram = pull --rebase --autostash origin master
	pramm = pull --rebase --autostash origin main
	po = push origin 
	poh = push origin HEAD
	can = commit --amend --no-edit
	cm = checkout master
	cmm = checkout main
	nb = checkout -b 
	ds = diff --staged
	d = diff
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	tool = nvimdiff
	algorithm = histogram
[difftool]
	prompt = 0
[difftool "nvimdiff"]	
        cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = lvimdiff
[mergetool]
	prompt = 1
[mergetool "lvimdiff"]
	cmd = lvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[core]
	autocrlf = input
	excludesFile = ~/.gitignore_global
