[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".base16-tmux"]
	path = .base16-tmux
	url = git@github.com:pharmajoe990/base16-tmux.git
